<app-menu></app-menu>

<div class="ion-page" id="content">
  <ion-header [translucent]="true">
    <app-toolbar></app-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="pageBox">
      <div class="sections">
        <h1>Dota Lore</h1>
        <p class="paragraph">
          &#160;&#160;&#160;&#160;&#160;&#160;&#160; Dota Lore is an app to explore the vast number of hereos existed in the video game called Dota 2. 
          Dota 2 is the deepest and most complex moba game ever made where there's always a new strategy to discover.
          This app aims to help the users to capture a fraction of the lore and interesting information of ever expanding universe of Dota 2.
        </p>
      </div>
      <div class="sections">
        <h1>Credits and Thanks</h1>
        <p class="paragraph">
          &#160;&#160;&#160;&#160;&#160;&#160;&#160;This app uses data and images from the Dota 2 video game and some terminology from Dota 2 is also used within the app itself as well.
          Every information presented on this app is all the intellectual property of Valve Software and is protected by various copyrights and trademarks.
        </p>
      </div>
      <div class="sections">
        <h3>Dota 2 Official Website</h3>
        <p class="paragraph">
          &#160;&#160;&#160;&#160;&#160;&#160;&#160;For the hero images and writings on hero backstories. <a href="https://www.dota2.com/home">https://www.dota2.com/</a>
        </p>
      </div>
      <div class="sections">
        <h3>Dota 2 Fandom Wiki</h3>
        <p class="paragraph">
          &#160;&#160;&#160;&#160;&#160;&#160;&#160;For the hero and attribute icons. <a href="https://dota2.fandom.com/wiki/Dota_2_Wiki">https://dota2.fandom.com/</a>
        </p>
      </div>
    </div>
  </ion-content>
</div>